In [1]:
x = 1
y = 2
x + 1 + y

4

- Git y Github
- Archivos tipo Markdown
- Google Colab (Notebooks)
- Deepnote (Notebooks)
- Replit (VSCode)

In [4]:
# Variables
"""
Esto es una nota
de varias lineas
"""
'''
Otro comentario de varias
lineas, para probar
'''

In [5]:
# Programación funcional (def)
# Programación Orientada a objetos (utiliza funcional) (class)
# - variables ( tipos de datos )
# - operadores
# - condicionales
# - bubles
# - inputs/outputs
# - Manejo de errores
# - modulos y librerias (https://pypi.org/)

'\nOtro comentario de varias\nlineas, para probar\n'

In [16]:
x = 1
my_variable = 2
print(my_variable) # parametros posicionales, nombrados
print(type(my_variable))
str(my_variable)

string = "Hola"
intero = 1
flotante = 2.55
booleano = False
print("string:", type(string))
print("intero:", type(intero))
print("flotante:", type(flotante))
print("booleano:", type(booleano))

2
<class 'int'>
string: <class 'str'>
intero: <class 'int'>
flotante: <class 'float'>
booleano: <class 'bool'>

In [30]:
listas = ["1","2", "3"]
tuplas = ("1","2", "3")
conjuntos = {"1","2", "3"}
print("listas:", type(listas))
print("tuplas:", type(tuplas))
print("conjuntos:", type(conjuntos))

print(listas[0])
listas[0] = "4"
listas.append("5")
listas.append("5")
print(listas)

print(tuplas[0])
# tuplas[0] = "4" # TypeError: 'tuple' object does not support item assignment
tuplas = ("4","2", "3")
print(tuplas.index("4"))
print(tuplas)

# print(conjuntos[0]) # TypeError: 'set' object is not subscriptable
conjuntos.add("5")
conjuntos.add("5")
print(conjuntos)
print(set(listas))

listas: <class 'list'>
tuplas: <class 'tuple'>
conjuntos: <class 'set'>
1
['4', '2', '3', '5', '5']
1
0
('4', '2', '3')
{'1', '5', '2', '3'}
{'3', '5', '2', '4'}

In [36]:
# Operadores de comparación
print(1 == 2)
print(1 != 2)
print(1 > 2)
print(1 < 2)
print(1 >= 2)
print(1 <= 2)

# Operaciones
print(1 + 1)
print(1 * 2)
print(2 - 1)
print(10 / 3)
print(10 // 3)
print(10 % 3)

False
True
False
True
False
True
2
2
1
3.3333333333333335
3
1

In [48]:
x = int("5") # true
x = int("0") # false
x = "" # false
x = "a" # true
x = ["a"] # true
x = [] # false
x = () # false
x = {} # false
print("x:", bool(x), type(x))

x: False <class 'dict'>

In [55]:
age = 18
x = False

if age >= 18 and x:
  print("es mayor de edad")
  # ...
elif age >= 13:
  print("es adolescente")
  # ...
else:
  print("es menor de edad")
  # ...

es adolescente

In [63]:
# for value in conjuntos:
# for value in tuplas:
for value in listas:
    print("Mi valor:", value)

    if value == "5":
      break

Mi valor: 4
Mi valor: 2
Mi valor: 3
Mi valor: 5

In [68]:
count = 1
while count <= 10:
  print("Mi valor:", count)
  # count = count + 1
  count += 1

  if count == 5:
    break

Mi valor: 1
Mi valor: 2
Mi valor: 3
Mi valor: 4

In [78]:
x = input("Escribe tu nombre:")
print("Hola", x, type(x))

age = input("Escribe tu edad:")
try:
  age = int(age)
except:
  print("Digite un número válido")
# else: # se ejecuta luego de que try termine bien
#   print("Hola", age, type(age))
finally:
  print("Hola", age, type(age))

Escribe tu nombre:valent
Hola valent <class 'str'>
Escribe tu edad:ssad
Digite un número válido
Hola ssad <class 'str'>

In [82]:
# DRY - Don't repeat yourself
def my_function(iterable):
    for value in iterable:
        print("Mi valor:", value)

        if value == "5":
            break

my_function(listas)
my_function(tuplas)
my_function(conjuntos)

Mi valor: 4
Mi valor: 2
Mi valor: 3
Mi valor: 5
Mi valor: 4
Mi valor: 2
Mi valor: 3
Mi valor: 1
Mi valor: 5

In [96]:
def saludar_nombre_edad(nombre, edad):
    # print("Hola," , nombre, "!! Tienes", edad, "años. Dentro de 5 años tendras", edad + 5, "años")
    print(f"Hola, {nombre}!! Tienes {edad:.3f} años. Dentro de 5 años tendras {edad + 5} años") # estilo de format

saludar_nombre_edad("Juan", 18)

Hola, Juan!! Tienes 12.57 años. Dentro de 5 años tendras 23 años

In [98]:
def my_function(*args, **kwargs):
    print("mis parametros posicionales", args)
    print("mis parametros nombrados", kwargs)

my_function(1,2,3, name="valentina", last_name="arenas")

mis parametros posicionales (1, 2, 3)
mis parametros nombrados {'name': 'valentina', 'last_name': 'arenas'}